.container{
  max-width: 1100px;
  margin: 0 auto;
}
.blocks {
  display: flex;
  justify-content: space-between;
}
.block {
  max-width: 450px;
}
.block__photo {
  text-align: center;
  padding: 200px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.block__text {
  background-color: white;
}
