<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel='stylesheet' href="css/style.css">
	<title>Wedding</title>
</head>
<ab>
	<nav class="nav nav-masthead justify-content-center float-md-end">
		<a class="nav-link fw-bold py-1 px-0" href="#section-guest">Приглашение</a>
		<a class="nav-link fw-bold py-1 px-0" href="#section-faq">Ответы на вопросы</a>
        <a class="nav-link fw-bold py-1 px-0" href="#section-program">Тайминг дня</a>
		<a class="nav-link fw-bold py-1 px-0" href="#section-register">Как добраться</a>
	</nav>
</ab>
<body>
	<span class="section__first-couple text-color_white" id="couple">
		<h1>
			<h2>
				<div>
					Никита
					<span>&amp;</span>
					Татьяна
				</div>
				</span></span>
				<div>
					25/07/2024
				</div>
			</h2>
		</h1>
		<!-- Приглашение текст -->
		<div>
			<p>Дорогие гости!<p>
			<p>Приглашаем Вас разделить радость особенного для нас события и стать свидетелями начала нашей семейной жизни!<p>
			<p>Увидимся на нашей свадьбе!</p>
		</div>
		<div class="section__photo">
			<div class="item">
				<img src="C:\Users\nekit\PycharmProjects\wedding\wedding\static\images\pho.jpg">
			</div>
					<div class="item">
						<img src="C:\Users\nekit\PycharmProjects\wedding\wedding\static\images\pho.jpg">
					</div>
			</div>
	<div class="section section_padding section_center" id="section-faq">
		<div class="section-body">
			<h2>
				<span>
					Отвечаем на ваши вопросы
				</span>
			</h2>
			<ul>

				<li>
					<h5>Будет ли дресс-код?</h5>
					<h4>Мы будем благодарны, если при выборе нарядов на наше торжество вы продержитесь следующей палитры:</h4>

		<t class="color for dress"><img src="C:\Users\nekit\PycharmProjects\wedding\wedding\static\images"></t>
				</li>

				<li>
					<h5>Нужно ли дарить цветы?</h5>
		<h4>Просим вас не дарить цветы, так как мы уезжаем в свадебное путешествие и не успеем насладиться красотой букетов.</h4>
		</li>
				<li>
					<h5>Какие подарки предпочтительны?</h5>
		<h4>Мы не будем оригинальными, но будем практичными. Лучший для нас подарок – это Ваша денежная инвестиция в нашу молодую семью.</h4>
		</li>
				<li>
					<h5>Возможно ли приехать на своем автомобиле?</h5>
		<h4>Да, на территории есть парковка. Для бронирования места просим Вас заранее сообщить марку и номер автомобиля.</h4>
		</li>
				<li>
					<h5>Где остановиться на ночь?</h5>
		<h4>Для Вас подготовлен комфортный номер в коттедже с 25.07.2024 - 26.07.2024 на территории Парк-отеля "Голицын Клуб"</h4>
		</li>
				<li>
					<h5>Кому можно задать вопросы по организации мероприятия?</h5>
		<h4>Нам в социальных сетях, в день свадьбы - наш свадебный координатор Елена с радостью ответит на ваши вопросы: +7&nbsp;(999)&nbsp;500-22-22.</h4>
				</li>
			</ul>
		</div>
	</div>

	<div class="section section_center section_padding" id="section-program">
		<div class="section-body">
			<h2>
			<span>
				Программа свадебного дня
			</span>
		</h2>

			<ul>
				<div class="datetime">
					<h3>14:30 - 15:30        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
			</svg>        Сбор гостей, фуршет в зоне WELCOME</h3>
				</div>
			</ul>

			<ul>
				<div class="datetime">
					<h3>15:30 - 16:30       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
			</svg>      Свадебная церемония  </h3>
				</div>
			</ul>

			<ul>
				<div class="datetime">
					<h3>16:30 - 22:30      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
			</svg>     Праздничный банкет  </h3>
				</div>
			</ul>

			<ul>
				<div class="datetime">
					<h3>22:30 - 23:00      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
			</svg>    Окончание вечера </h3>
				</div>
			</ul>

	<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body" >

                    <div id="content">
                        <ul class="timeline">
                            <li class="event" data-date="14:30 - 15:30">
                                <h3>Окончание вечера</h3>
                            </li>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
			</svg>
                            <li class="event" data-date="15:30-16:30">
                                <h3>Окончание вечера</h3>
                            </li>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
			</svg>
                            <li class="event" data-date="16:30 - 22:30">
                                <h3>Окончание вечера</h3>
                            </li>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
			</svg>
                            <li class="event" data-date="22:30-23:00">
                                <h3>Окончание вечера</h3>
                            </li>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
				<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
			</svg>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
		<div id="section-maps">
	<div class="section section_noborder section_padding section_center" id="section-register">
	<div class="section-body">
		<h2>
			<span>
				Как добраться
			</span>
		</h2>
		<p>
			Парк - Отель "Голицын Клуб"
		</p>
		<span>

		<t>
			Адрес: Московская область, Одинцовский городской округ, г. Голицыно, Минское шоссе, д.45.
		</t>

		</span>


	</div>

	<div class="section-body section-body_fullwidth">
		<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/golitsyn_klub/112768882338/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Голицын Клуб</a><a href="https://yandex.ru/maps/1/moscow-and-moscow-oblast/category/hotel/184106414/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Гостиница в Москве и Московской области</a><iframe src="https://yandex.ru/map-widget/v1/?ll=36.959781%2C55.598665&mode=search&oid=112768882338&ol=biz&z=16.27" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
	</div>

<div class="section section_noborder section_center" id="section-footer">
	<div class="section-body">
		<footer class="section__footer">
			<div class="section__footer-description">
				<p class="names">
					Tanya and Nikita 2024 ©
				</p>
			</div>
		</footer>
	</div>
</div>
</body>
<main class="heart"></main>
	<!--img src="https://img.freepik.com/free-photo/elegant-eucalyptus-background_23-2149425028.jpg?w=360&t=st=1702233392~exp=1702233992~hmac=91a7aa458f4ec8cb03bd7671723c6ae97b86c2e2e986f9a13eff1dbad599fd4e"
	alt="Рыжий кот Кекс лежит у ноутбука." width="1024" height="683"> img {
   width: 100%;
   height: 100%; -->
	<style type="text/css">
	main {
margin: 9% auto;
}

	.timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 40%;
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}


.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}


.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

<!-- -->
.heart {
  position: relative;
  width: 30px;
  height: 15px;
  background-color:  #0A5F38;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 0 0;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
top: 50px 30px;
}
.timeline:hover:before, .heart:hover{
 box-shadow:none;
}

.heart:before {
  position: absolute;
  width: 15px;
  height: 30px;
  left: 0;
  bottom: 0;
  content: "";
  background-color:  #0A5F38;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  border-radius: 0 15px 15px 0;

}
main {
margin: -60px 320px ;
}
<!-- -->


<!-- -->
	h5{
	color: pink;
    positon: absolute;
	font: 'Times New Roman', Times, serif;
	text-align: justify;
	line-height: 0px;
	font-size: 22px;
	font-weight: normal;
	}
	svg{
 	text-align: center;
 	positon: absolute;
 	color: #984579;
	}
	ul{
	text-align: left;
	}
	h4{
	color: blue;
    positon: absolute;
	font: 'Times New Roman', Times, serif;
	text-align: justify;
	line-height: 16px;
	font-weight: 80;
	font-size: 20 px;
	width: 95%;
	}
	li{
	color: yellow;
	text-align: center;
	width: 100%;
	}
	t{
	color: orange;
	font-weight: italic;
	font-size: 24x;
	font: 'Times New Roman', Times, serif;
	text-align: center;
  	text-indent: 24px;
	}
	p{
	color: #0A5F38;
    positon: absolute;
	font: italic 1.5rem "Fira Sans", serif;
	text-align: center;
	line-height: lighter;
	font-size: 20px;
	}
	h3{

	color: red;
	font: 'Times New Roman', Times, serif;
positon: absolute;
	font: 'Times New Roman', Times, serif;
	text-align: center;
	line-height: 16px;
	font-weight: 80;
	font-size: 20 px;
	width: 95%;

	}
	div{
	color: #0A5F38;
    float: left;
    width: 100%;
	line-height: normal;
	text-align: center;
	}

	h2{
	positon: absolute;
	color: #0A5F38;
	font: italic 1.5rem "Fira Sans", serif;
	font-weight: bold;
	text-align: center;
	line-height: 1px;
	}

	a{
	width: 90%;
    top: 0;
    left: 50px;
    flex-direction: row-reverse;
    text-align: center;
	color: blue;
	flex: auto;
	margin-top: 0;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-radius: 5px;
    padding: 3px 7px;
    height:50px;
    width:50px;
    cursor:pointer;
    background-color: transparent;
    border: 1px solid #0A5F38;
    color: #0A5F38
	}

	body{
	margin: 10px 50px 20px;
	background-color: white;
	color: #013220;
	padding: 0 130px;
	display: flex;
	flex-direction: column;
	flex: auto;
	margin-top: 10px;
	text-align: center;
	}

</body>
</html>